{{ $data := index .Site.Data }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}

<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="home-section" style="background-color: black;">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <video width="100%" height="800" muted autoplay loop><source src={{ .bg_image_webp }} type="video/mp4" style="max-width: 500;"></video>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 py-5">
                <div class="py-md-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <span class="subheading" style="color: white;">{{ .event_date | markdownify }}</span>
                            <h2 class="subheading" style="font-size: 25px; margin-bottom: 30px;">{{ .theme_name | markdownify }}</h2>
                            <!--<span class="number" data-number="20">0</span>-->
                            <!--<h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">{{ .title | markdownify }}</h2>-->
                            <p style="color: white;">{{ .content | markdownify }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{end}}
{{end}}
