{{ $data := index .Site.Data }}

{{ if $data.form.form.enable }}
{{ with $data.form.form }}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">NOMINATE A SPEAKER</span>
                <h2 class="mb-4">Let's give everyone a voice</h2>
                <p>Know someone who can deliver a powerful message; someone who deserves to be heard? You are at the right place.</p>
                <p>Please fill in the following nomination form.</p>
            </div>
        </div>
        <div class="row justify-content-center d-flex">
			<form id="nomination-form" alt="Form by Super Easy Forms" class="pb-3" action="#">
										
				<label for="fullName" class="small mb-0">Full Name</label>
				<input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" required>
			
				<label for="email" class="small mb-0">Email</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
			
				<label for="number" class="small mb-0">Mobile Number</label>
				<input type="text" class="form-control" id="number" name="number" placeholder="Mobile Number" null>
			
				<label for="nominee_name" class="small mb-0">Nominee's Name</label>
				<input type="text" class="form-control" id="nominee_name" name="nominee_name" placeholder="Nominee's Name" required>
			
				<label for="nominee_email" class="small mb-0">Nominee's Email</label>
				<input type="email" class="form-control" id="nominee_email" name="nominee_email" placeholder="Nominee's Email" required>
			
				<label for="nominee_number" class="small mb-0">Mobile Number</label>
				<input type="text" class="form-control" id="nominee_number" name="nominee_number" placeholder="Mobile Number" null>
			
				<label for="topic" class="small mb-0">Topic</label>
				<input type="text" class="form-control" id="topic" name="topic" placeholder="Topic" null>
			
				<label for="extra_info" class="small mb-0">Additional Info</label>
				<input type="text" class="form-control" id="extra_info" name="extra_info" placeholder="Additional Info" null>
			
				<div class="g-recaptcha pt-3" data-sitekey="6LfyErEZAAAAAHW1MfegMVhM_2fzc6OqiF09HhF-"></div>   
				<h5 id="nomination-status" class="text-secondary" style="display:none;">Thanks for Contacting Us</h5>
				<button class="btn btn-primary mt-3" type="submit" id="nomination-btn">Send</button>
			</form>
        </div>
    </div>
</section>
<script>
					$(function(){
						$('#nomination-form').submit(function(e){
								e.preventDefault();
								let captcha = grecaptcha.getResponse();
								if(captcha.length < 1){
									alert('please fill out the recaptcha')
								}
								else {
									$.ajax({
											type: "POST",
											url: "https://odlvygpp1b.execute-api.ap-south-1.amazonaws.com/DeploymentStage/",
											dataType: "json",
											contentType: "application/json",
											data: JSON.stringify( { "id": "","fullName": $('#fullName').val(),"email": $('#email').val(),"number": $('#number').val(),"nominee_name": $('#nominee_name').val(),"nominee_email": $('#nominee_email').val(),"nominee_number": $('#nominee_number').val(),"topic": $('#topic').val(),"extra_info": $('#extra_info').val(), "captcha":captcha } ),
											beforeSend: function(data) {
													$('#nomination-btn').prop('disabled', true);
													$('#nomination-form :input').prop('disabled', true);
													$('#nomination-status').html('Sending...').show();
											},
											success: function(data, status, jqXHR) {
													console.log(data);
													if(status === 'success'){
														$('#nomination-status').text("We'll get back to you soon").show();
														$('#nomination-form :input').removeProp('disabled');
														$('#nomination-btn').removeProp('disabled');
													}
													else {
														$('#nomination-status').text('Error. Please try again.').show();
														$('#nomination-form :input').removeProp('disabled');
														$('#nomination-btn').removeProp('disabled');
													}
											},
											error: function(jqXHR, textStatus, errorThrown) {
												$('#nomination-status').text('Error. Please check your network connection and try again.').show();
												$('#nomination-form :input').removeProp('disabled');
												$('#nomination-btn').removeProp('disabled');
											}
									});
								}
						}); 				
					});
				</script>

{{end}}
{{end}}