{{ $data := index .Site.Data }}

{{ if $data.form.form.enable }}
{{ with $data.form.form }}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">NOMINATE A SPEAKER</span>
                <h2 class="mb-4">Let's give everyone a voice</h2>
                <p>Know someone who can deliver a powerful message; someone who deserves to be heard? You are at the right place.</p>
                <p>Please fill in the following nomination form.</p>
            </div>
        </div>
        <div class="row justify-content-center d-flex">	
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdiDPxyuOgB1Ql5m5HG021r0uyiGSwbC6OchWslm95hPnqt1Q/viewform?embedded=true" width="640" height="1245" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </div>
</section>		

{{end}}
{{end}}