{{ $data := index .Site.Data }}

{{ if $data.speakers.speakers.enable }}
{{ with $data.speakers.speakers }}

<section class="ftco-section" id="speakers-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">{{ .section_title | markdownify }}</span>
                <h2 class="mb-4">{{ .title | markdownify }}</h2>
                <p style="font-size: 40px;">{{ .subtitle | markdownify }}</p>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4 text-black">Announcements soon.</h2>
            </div>            
        </div>
    </div>
</section>

{{end}}
{{end}}