{{ $data := index .Site.Data }}
<section class="ftco-section" id="register">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Register</span>
                <h2 class="mb-4 text-black"></h2>Ready for a fun yet intellectually engaging day?</h2>
                <p><a href="https://forms.gle/f9fw6qENjxXr5BHy6" target="_blank" class="btn btn-black" style="background-color: black; color:white; margin-top: 15px;">Register now</a></p>
            </div>
        </div>
    </div>
</section>